*.fsp filter=lfs diff=lfs merge=lfs -text
waveguide-crossing/*.fsp filter=lfs diff=lfs merge=lfs -text
*.tar.gz filter=lfs diff=lfs merge=lfs -text
lumerical-examples-internal/attachments.zip filter=lfs diff=lfs merge=lfs -text
lumerical-examples-internal/EE232_Lumerical.zip filter=lfs diff=lfs merge=lfs -text
lumerical-examples-internal/attachments/grating_coupler_2D.fsp filter=lfs diff=lfs merge=lfs -text
lumerical-examples-internal/Discussion/2024[[:space:]]Discussion[[:space:]]Sessions/PreviousYears/2021/Simulations/Disc2_min_radius_curvature.fsp filter=lfs diff=lfs merge=lfs -text
lumerical-examples-internal/Discussion/2024[[:space:]]Discussion[[:space:]]Sessions/PreviousYears/Discussion[[:space:]]7/edge_coupler_3DFDTD_complete.fsp filter=lfs diff=lfs merge=lfs -text
lumerical-examples-internal/Discussion/2025[[:space:]]Spring[[:space:]]Lab[[:space:]]1:[[:space:]]Waveguide/FDTD_bendingloss_startingpoint.fsp filter=lfs diff=lfs merge=lfs -text
lumerical-examples-internal/attachments/hemisphere_lens_3D_inside_scripted.fsp filter=lfs diff=lfs merge=lfs -text
lumerical-examples-internal/Discussion/2024[[:space:]]Discussion[[:space:]]Sessions/Lab[[:space:]]5[[:space:]]-[[:space:]]Edge[[:space:]]Coupler[[:space:]]Refinement/edge_coupler.fsp filter=lfs diff=lfs merge=lfs -text
lumerical-examples-internal/Discussion/2024[[:space:]]Discussion[[:space:]]Sessions/Resources/Grating[[:space:]]Coupler/grating_coupler_scripted_complete.fsp filter=lfs diff=lfs merge=lfs -text
lumerical-examples-internal/Discussion/2025[[:space:]]Spring[[:space:]]Lab[[:space:]]1:[[:space:]]Waveguide/FDTD_bendingloss_modeexpansion.fsp filter=lfs diff=lfs merge=lfs -text
lumerical-examples-internal/Discussion/2025[[:space:]]Spring[[:space:]]Lab[[:space:]]4:[[:space:]]Directional[[:space:]]Coupler/Simulation[[:space:]]Files/directional_coupler_fdtd.fsp filter=lfs diff=lfs merge=lfs -text
lumerical-examples-internal/Discussion/2025[[:space:]]Spring[[:space:]]Lab[[:space:]]5:[[:space:]]MZI/Simulation[[:space:]]Files/directional_coupler_fdtd.fsp filter=lfs diff=lfs merge=lfs -text
lumerical-examples-internal/Discussion/2024[[:space:]]Discussion[[:space:]]Sessions/Lab[[:space:]]1[[:space:]]-[[:space:]]Double[[:space:]]Slit[[:space:]]Experiment/double_slit.fsp filter=lfs diff=lfs merge=lfs -text
lumerical-examples-internal/Discussion/2024[[:space:]]Discussion[[:space:]]Sessions/PreviousYears/2021/Simulations/Disc3_gratingCoupler.fsp filter=lfs diff=lfs merge=lfs -text
lumerical-examples-internal/Discussion/2024[[:space:]]Discussion[[:space:]]Sessions/Resources/Double[[:space:]]Slit/scripted_double_slit.fsp filter=lfs diff=lfs merge=lfs -text
lumerical-examples-internal/Discussion/2025[[:space:]]Spring[[:space:]]Lab[[:space:]]2:[[:space:]]Grating[[:space:]]Coupler/grating_coupler_2D_fiber.fsp filter=lfs diff=lfs merge=lfs -text
lumerical-examples-internal/Discussion/2025[[:space:]]Spring[[:space:]]Lab[[:space:]]3:[[:space:]]Edge[[:space:]]Coupler[[:space:]]&[[:space:]]Taper/2024lab5_edge_coupler.fsp filter=lfs diff=lfs merge=lfs -text
lumerical-examples-internal/Discussion/2025[[:space:]]Spring[[:space:]]Lab[[:space:]]6:[[:space:]]Ring[[:space:]]Resonator/Simulation[[:space:]]Files/ring_coupling_region_fdtd.fsp filter=lfs diff=lfs merge=lfs -text
lumerical-examples-internal/Discussion/2024[[:space:]]Discussion[[:space:]]Sessions/Lab[[:space:]]2[[:space:]]-[[:space:]]Uniform[[:space:]]Grating[[:space:]]Coupler/grating.fsp filter=lfs diff=lfs merge=lfs -text
lumerical-examples-internal/Discussion/2024[[:space:]]Discussion[[:space:]]Sessions/PreviousYears/2021/Simulations/Disc4_RingResonator/ring_resonator_FDTD.fsp filter=lfs diff=lfs merge=lfs -text
lumerical-examples-internal/Discussion/2025[[:space:]]Spring[[:space:]]Lab[[:space:]]1:[[:space:]]Waveguide/FDTD_bendingloss_ports.fsp filter=lfs diff=lfs merge=lfs -text
lumerical-examples-internal/Discussion/2025[[:space:]]Spring[[:space:]]Lab[[:space:]]2:[[:space:]]Grating[[:space:]]Coupler/grating_coupler_2D.fsp filter=lfs diff=lfs merge=lfs -text
lumerical-examples-internal/Discussion/2025[[:space:]]Spring[[:space:]]Lab[[:space:]]2:[[:space:]]Grating[[:space:]]Coupler/Spring2025_Lab_2_grating_coupler__part1_coding.pdf filter=lfs diff=lfs merge=lfs -text
lumerical-examples-internal/Discussion/2024[[:space:]]Discussion[[:space:]]Sessions/Lab[[:space:]]5[[:space:]]-[[:space:]]Edge[[:space:]]Coupler[[:space:]]Refinement/Lab_5_edge_coupler_refinement.pdf filter=lfs diff=lfs merge=lfs -text
lumerical-examples-internal/Discussion/2025[[:space:]]Spring[[:space:]]Lab[[:space:]]0:[[:space:]]FDTD[[:space:]]Algorithm/Reference[[:space:]]Materials[[:space:]]-[[:space:]]Textbooks[[:space:]]and[[:space:]]Papers/Eigenmode[[:space:]]Expansion[[:space:]]Methods[[:space:]]for[[:space:]]Simulation[[:space:]]of[[:space:]]Optical[[:space:]]Propagation[[:space:]]in[[:space:]]Photonics,[[:space:]]Pros[[:space:]]and[[:space:]]Cons__PW03_eme_paper.pdf filter=lfs diff=lfs merge=lfs -text
lumerical-examples-internal/Discussion/2025[[:space:]]Spring[[:space:]]Lab[[:space:]]3:[[:space:]]Edge[[:space:]]Coupler[[:space:]]&[[:space:]]Taper/2024_Spring_Lab_6_EME_taper.pdf filter=lfs diff=lfs merge=lfs -text
lumerical-examples-internal/Discussion/2025[[:space:]]Spring[[:space:]]Lab[[:space:]]0:[[:space:]]FDTD[[:space:]]Algorithm/Reference[[:space:]]Materials[[:space:]]-[[:space:]]Textbooks[[:space:]]and[[:space:]]Papers/Photonic[[:space:]]CAD[[:space:]]Matures[[:space:]](Scoring[[:space:]]BPM,[[:space:]]FDTD,[[:space:]]EME)__leos_newsletter_feb08_article.pdf filter=lfs diff=lfs merge=lfs -text
lumerical-examples-internal/Discussion/2025[[:space:]]Spring[[:space:]]Lab[[:space:]]6:[[:space:]]Ring[[:space:]]Resonator/Spring2025_Lab_6_ring_resonator.pdf filter=lfs diff=lfs merge=lfs -text
lumerical-examples-internal/Discussion/2025[[:space:]]Spring[[:space:]]Lab[[:space:]]0:[[:space:]]FDTD[[:space:]]Algorithm/Reference[[:space:]]Materials[[:space:]]-[[:space:]]Textbooks[[:space:]]and[[:space:]]Papers/Integrated[[:space:]]Photonics[[:space:]]-[[:space:]]Pollock[[:space:]]and[[:space:]]Lipson.pdf filter=lfs diff=lfs merge=lfs -text
lumerical-examples-internal/Discussion/2025[[:space:]]Spring[[:space:]]Lab[[:space:]]0:[[:space:]]FDTD[[:space:]]Algorithm/Reference[[:space:]]Materials[[:space:]]-[[:space:]]Textbooks[[:space:]]and[[:space:]]Papers/Understanding[[:space:]]the[[:space:]]Finite-Difference[[:space:]]Time-Domain[[:space:]]Method[[:space:]]-[[:space:]]Schneider.pdf filter=lfs diff=lfs merge=lfs -text
lumerical-examples-internal/Discussion/2024[[:space:]]Discussion[[:space:]]Sessions/Lab[[:space:]]4[[:space:]]-[[:space:]]Edge[[:space:]]Coupling[[:space:]]to[[:space:]]Fiber/Lab_4_edge_coupler.pdf filter=lfs diff=lfs merge=lfs -text
lumerical-examples-internal/Discussion/2024[[:space:]]Discussion[[:space:]]Sessions/Lab[[:space:]]7[[:space:]]-[[:space:]]Directional[[:space:]]Coupler/Lab_7_directional_coupler.pdf filter=lfs diff=lfs merge=lfs -text
lumerical-examples-internal/Discussion/2024[[:space:]]Discussion[[:space:]]Sessions/Lab[[:space:]]8[[:space:]]-[[:space:]]Mach-Zehnder[[:space:]]Modulator/Lab_8_MZM.pdf filter=lfs diff=lfs merge=lfs -text
lumerical-examples-internal/Discussion/2025[[:space:]]Spring[[:space:]]Lab[[:space:]]0:[[:space:]]FDTD[[:space:]]Algorithm/Reference[[:space:]]Materials[[:space:]]-[[:space:]]Textbooks[[:space:]]and[[:space:]]Papers/Accelerating[[:space:]]Passive[[:space:]]and[[:space:]]Active[[:space:]]Silicon[[:space:]]Photonics[[:space:]]Design[[:space:]]using[[:space:]]Multiple[[:space:]]Numerical[[:space:]]Techniques__2018_IEEE_paper.pdf filter=lfs diff=lfs merge=lfs -text
lumerical-examples-internal/Discussion/2025[[:space:]]Spring[[:space:]]Lab[[:space:]]1:[[:space:]]Waveguide/Spring2025_Lab_1_waveguide__part2_bending_loss.pdf filter=lfs diff=lfs merge=lfs -text
lumerical-examples-internal/Discussion/2025[[:space:]]Spring[[:space:]]Lab[[:space:]]4:[[:space:]]Directional[[:space:]]Coupler/Spring2025_Lab_4_directional_coupler__part2_coupled_mode_theory.pdf filter=lfs diff=lfs merge=lfs -text
lumerical-examples-internal/Discussion/2024[[:space:]]Discussion[[:space:]]Sessions/Lab[[:space:]]1[[:space:]]-[[:space:]]Double[[:space:]]Slit[[:space:]]Experiment/Lab_1_double_slit.pdf filter=lfs diff=lfs merge=lfs -text
lumerical-examples-internal/Discussion/2025[[:space:]]Spring[[:space:]]Lab[[:space:]]0:[[:space:]]FDTD[[:space:]]Algorithm/Overview[[:space:]]of[[:space:]]Resources[[:space:]]and[[:space:]]Materials[[:space:]]for[[:space:]]Photonics.pdf filter=lfs diff=lfs merge=lfs -text
lumerical-examples-internal/Discussion/2025[[:space:]]Spring[[:space:]]Lab[[:space:]]2:[[:space:]]Grating[[:space:]]Coupler/Spring2025_Lab_2_grating_coupler__part2_optimization.pdf filter=lfs diff=lfs merge=lfs -text
documentation/reference-literature/Han[[:space:]]et[[:space:]]al.[[:space:]]-[[:space:]]2021[[:space:]]-[[:space:]]32[[:space:]]×[[:space:]]32[[:space:]]silicon[[:space:]]photonic[[:space:]]MEMS[[:space:]]switch[[:space:]]with[[:space:]]gap-adju.pdf filter=lfs diff=lfs merge=lfs -text
lumerical-examples-internal/Discussion/2024[[:space:]]Discussion[[:space:]]Sessions/Lab[[:space:]]6[[:space:]]-[[:space:]]EME[[:space:]]Taper/Lab_6_EME_taper.pdf filter=lfs diff=lfs merge=lfs -text
lumerical-examples-internal/Discussion/2025[[:space:]]Spring[[:space:]]Lab[[:space:]]3:[[:space:]]Edge[[:space:]]Coupler[[:space:]]&[[:space:]]Taper/2024_Spring_Lab_4_edge_coupler.pdf filter=lfs diff=lfs merge=lfs -text
lumerical-examples-internal/Discussion/2025[[:space:]]Spring[[:space:]]Lab[[:space:]]7:[[:space:]]Transceiver[[:space:]]&[[:space:]]MZM/Spring2025_Lab_7_MZM_and_tranceiver.pdf filter=lfs diff=lfs merge=lfs -text
lumerical-examples-internal/Discussion/2025[[:space:]]Spring[[:space:]]Lab[[:space:]]5:[[:space:]]MZI/Spring2025_Lab_5_MZI_interconnect.pdf filter=lfs diff=lfs merge=lfs -text
lumerical-examples-internal/Discussion/2024[[:space:]]Discussion[[:space:]]Sessions/Lab[[:space:]]2[[:space:]]-[[:space:]]Uniform[[:space:]]Grating[[:space:]]Coupler/Lab_2_uniform_grating_pt_1.pdf filter=lfs diff=lfs merge=lfs -text
lumerical-examples-internal/Discussion/2024[[:space:]]Discussion[[:space:]]Sessions/Lab[[:space:]]3[[:space:]]-[[:space:]]Grating[[:space:]]Coupler[[:space:]]Refinement/Lab_3_uniform_grating_pt_2.pdf filter=lfs diff=lfs merge=lfs -text
lumerical-examples-internal/Discussion/2024[[:space:]]Discussion[[:space:]]Sessions/Lab[[:space:]]9[[:space:]]-[[:space:]]Ring[[:space:]]Resonator/Lab_9_Ring_Resonator.pdf filter=lfs diff=lfs merge=lfs -text
lumerical-examples-internal/Discussion/2024[[:space:]]Discussion[[:space:]]Sessions/Resources/FDTD_Basics.pdf filter=lfs diff=lfs merge=lfs -text
lumerical-examples-internal/Discussion/2025[[:space:]]Spring[[:space:]]Lab[[:space:]]1:[[:space:]]Waveguide/Spring2025_Lab_1_waveguide__part1_mode.pdf filter=lfs diff=lfs merge=lfs -text
lumerical-examples-internal/Discussion/2025[[:space:]]Spring[[:space:]]Lab[[:space:]]3:[[:space:]]Edge[[:space:]]Coupler[[:space:]]&[[:space:]]Taper/2024_Spring_Lab_5_edge_coupler_refinement.pdf filter=lfs diff=lfs merge=lfs -text
lumerical-examples-internal/Discussion/2025[[:space:]]Spring[[:space:]]Lab[[:space:]]4:[[:space:]]Directional[[:space:]]Coupler/Spring2025_Lab_4_directional_coupler__part1_eme_setup.pdf filter=lfs diff=lfs merge=lfs -text
